{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Inicio</title>
<link rel="stylesheet" href="{% static '/css/index.css' %}" >
{% endblock extrahead%}

{% block content %} 
<h1 class="display-2 text-center" id="title">tienda</h1>
<figure class="text-center">
    <blockquote class="blockquote">
      <p class="text_responsive"> aquí no sé muy bien que va</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      oscar y valentina</cite>
    </figcaption>
  </figure>
{% endblock content%}